<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">
	<insert id="insertApproval">
		INSERT INTO APPROVAL VALUES(SEQ_APV.NEXTVAL, #{apvType}, #{mCode}, #{apvAgr}, #{apvRef}, #{apvApp},
						   			#{apvTitle}, #{apvCom}, SYSDATE, SYSDATE + 10, #{apvDdate}, 'A')
	</insert>
	
	<select id="selectApproval" resultMap="approvalResultSet">
		SELECT *
		FROM APPROVAL
		WHERE M_CODE = #{mCode}
	</select>
	
	<resultMap type="Approval" id="approvalResultSet">
		<id column="APV_NO" property="apNo"/>
		<result column="APV_TYPE" property="apNo"/>
		<result column="APV_AGR" property="apvAgr"/>
		<result column="APV_REF" property="apvRef"/>
		<result column="APV_APP" property="apvApp"/>
		<result column="APV_TITLE" property="apvTitle"/>
		<result column="APV_COM" property="apvCom"/>
		<result column="APV_SDATE" property="apvSdate"/>
		<result column="APV_DDATE" property="apvDdate"/>
		<result column="APV_EDATE" property="apvEdate"/>
		<result column="APV_STATUS" property="apvStatus"/>
		<result column="M_CODE" property="mCode"/>
	</resultMap>
</mapper>
