<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap type="Board" id="boardResultSet">
		<id column="B_NO" property="boardNo"/>
		<result column="B_TYPE" property="boardType"/>
		<result column="B_TITLE" property="boardTitle"/>
		<result column="B_CONTENT" property="boardContent"/>
		<result column="B_CREATEDATE" property="boardCreateDate"/>
		<result column="B_STATE" property="boardState"/>
		<result column="B_STATUS" property="boardStatus"/>
		<result column="M_CODE" property="memberCode"/>
		<result column="DEPT_NO" property="deptNo"/>
		<result column="B_WRITER" property="boardWriter"/>
		<result column="P_NAME" property="project"/>
	</resultMap>

	<select id="selectListCount" resultType="_int">
		select count(*)
		from board
		where b_status = 'Y'
	</select>
	
	<select id="selectBoardList" resultMap="boardResultSet">
		select *
		from v_board
		where b_status = 'Y' and dept_no = #{deptNo}
		order by b_no desc
	</select>

	<select id="selectNewBoard" resultMap="boardResultSet">
		<![CDATA[
			select *
			from (select *
				  from v_board
				  where b_type=2 and dept_no=#{deptNo} and b_status='Y'
				  order by b_no desc)
			where rownum <= 3
		]]>
	</select>
	
	<select id="selectBoardDetail" resultMap="boardResultSet">
		select *
		from v_board
		where b_status='Y' and b_no=#{bId}
	</select>
	
	<select id="selectProjectList" resultMap="projectResultSet">
		select p_name
		from project
		where dept_no = #{deptNo}
	</select>
	
	<resultMap type="Project" id="projectResultSet">
		<id column="pNo" property="pNo"/>
		<result column="P_NO" property="mCode"/>
		<result column="P_NAME" property="pName"/>
		<result column="P_INTRO" property="pIntro"/>
		<result column="P_STATUS" property="pStatus"/>
		<result column="P_END" property="pEnd"/>
		<result column="DEPT_NO" property="deptNo"/>
	</resultMap>
	
	<insert id="insertBoard">
		insert into
		board values(seq_bno.nextval, 2, #{boardTitle}, #{boardContent}, default, default, default, #{memberCode}, #{deptNo}, #{boardWriter}, #{project})
	</insert>

	<select id="selectLastBoard" resultMap="boardResultSet">
		select * from (select * from board order by b_no desc) where rownum = 1
	</select>
	
	<insert id="insertAttachFile">
		insert into
		attachments values(seq_at.nextval, #{atLevel}, #{atCategory}, #{atPath}, #{atOrigin}, #{atChange}, null, default)
	</insert>
	
	<insert id="insertScrap">
		insert into
		scrap values(#{mCode}, #{boardNo}, #{project}, #{boardTitle}, #{boardWriter}, default)
	</insert>

	<select id="scrapState" resultMap="scrapResultSet">
		select *
		from scrap where b_no=#{boardNo} and m_code=#{mCode}
	</select>

	<resultMap type="Scrap" id="scrapResultSet">
		<id column="M_CODE" property="mCode"/>
		<id column="B_NO" property="boardNo"/>
		<result column="PROJECT" property="project"/>
		<result column="B_TITLE" property="boardTitle"/>
		<result column="B_WRITER" property="boardWriter"/>
	</resultMap>
	
	<delete id="deleteScrap">
		delete
		from scrap
		where b_no=#{boardNo} and m_code=#{mCode}
	</delete>
	
	<select id="scrapList" resultMap="scrapResultSet">
		select *
		from scrap
		where m_code=#{mCode}
		order by scrap_date desc
	</select>
	
	<select id="selectScrapListCount" resultType="_int">
		select count(*)
		from scrap
		where m_code=#{mCode}
	</select>
	
	<select id="selectScrapBoardList" resultMap="scrapResultSet">
		select *
		from scrap
		where m_code = #{mCode}
		order by scrap_date desc
	</select>
	
	<select id="selectBoardStatus" resultMap="boardResultSet">
		select *
		from board
		where b_status='N' and b_no=#{bId}
	</select>
	
</mapper>
