<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">


	<insert id="addCal">
		INSERT INTO schedule
		VALUES(#{code}, seq_dsc.nextval, #{title}, to_date(#{sDate}), to_date(#{eDate}), default, #{mCode} )
	</insert>





<!-- 	<select id="cList" resultMap="calendarResultMap">
		select sc_code, dsc_no, sc_title, TO_char(sc_sdate, 'YYYY-MM-DD') start1, TO_char(sc_edate, 'YYYY-MM-DD') end2, m_code
		from schedule
		where sc_status='N'
	</select>
	<resultMap type="calendar" id="calendarResultMap">
		<result property="sDate" column="start1"/>
		<result property="eDate" column="end2"/>
	</resultMap> -->


</mapper>
