<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">


	<resultMap type="calendar" id="CalResultMap">
		<id column="SC_CODE" property="code"/>
		<result column="DSC_NO" property="no"/>
		<result column="SC_TITLE" property="title"/>
		<result column="SC_SDATE" property="sDate"/>
		<result column="SC_EDATE" property="eDate"/>
		<result column="SC_STATUS" property="status"/>
		<result column="M_CODE" property="mCode"/>
	</resultMap>
	
	<insert id="addCal">
		INSERT INTO SCHEDULE
		VALUES(#{code}, SEQ_DSC.NEXTVAL, #{title}, TO_DATE(#{sDate}), TO_DATE(#{eDate}), DEFAULT, #{mCode} )
	</insert>

	<select id="listCal" resultMap="CalResultMap">
	   SELECT *
	     FROM SCHEDULE
		WHERE M_CODE= #{mcode} 
		  AND <![CDATA[ SC_SDATE >= TO_DATE(#{sDate}) AND SC_EDATE <= TO_DATE(#{eDate}) ]]>
		  AND SC_STATUS='N'
	</select>
<!--  로그인 유저 생기면 
	select sc_code, dsc_no, sc_title, sc_sdate, sc_edate, sc_status, m_code, m_name
	from schedule
		 join member on (m_code=m_code)
	where m_code=#{userId} and sc_status='N'-->
<!-- 부서번호가 정해지면 where절에  <![CDATA[   ]]>  -->
<!-- < if test="code == 1" > AND DEPT_NO='#{부서번호}' ( JOIN MEMBER ON (M_CODE=M_CODE)  )</if> -->
<!-- (아니면 code==2이면) WHERE M_CODE=#{mcode}  (개인일정은 개인만) -->	
	
	<update id="updateCal">
	   UPDATE SCHEDULE
		  SET SC_CODE=#{code}, SC_TITLE=#{title}, SC_SDATE=TO_DATE(#{sDate}), SC_EDATE=TO_DATE(#{eDate})
		WHERE DSC_NO=#{no} AND M_CODE= #{mCode} 
	</update>

	<update id="deleteCal">
		UPDATE SCHEDULE
		   SET SC_STATUS='Y'
		 WHERE DSC_NO=#{no}
	</update>


</mapper>
